*{
    padding: 0px;
    margin: 0px;
}

.main{
    background-color: rgb(226, 230, 237);
    height: 600px;
}




.headlinezero i{
    color: red;
}
.headlinezero>.conseller{
    color: red;
}

.headlinezero a{
    text-decoration: none;
    color: rgb(30, 19, 19);
}







.headlinetwo a{
    text-decoration: none;
    color: black;
}


/* ============navbar second sectio======== */

.main2{
    background-color: #fff;

}

.btnmrt{
    margin: 11px 0px; 
}

.loginbtn{
    display: flex;
    justify-content: end !important;

    margin: auto;
}

/* <!-- ========================dropdown-law-entrance================== --> */
.dropdown-menu[data-bs-popper] {
    top: 121% !important;
    border: none !important;
}
.lawentrace2{
    width: 1000px;
}

.lawent ul li{
    text-decoration: none ;
    border: 0.1px solid rgb(240, 240, 240);
    margin: 10px 0px;
    width: 200px;
}

.box{
    border: 1px solid red;
}


.submenu-lawentrace {
    position: absolute;
    right: 0;
    width: calc(100% - 263px);
    top: 20px;
    border-left: solid 1px #a9b1b8;
    background-color: #fff;
    padding: 0 30px 0 20px;
    height: calc(100% - 25px);
    overflow-y: auto;
}


.submenu-lawentrace-next{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.submenu-lawentrace-next li{
    padding: 2px 2px;
    margin: 5px 5px;
}
